
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #000;
}

#mainWrapper {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	/*display: inline-block;*/
	/*position: absolute;*/
	text-align: center;
}

#universeOne {
	width: 100vw;
	height: 50vh;
	display: inline-block;
}


#trigger {
	font-size: 14pt;
	color: #fff;
	background: none;
	padding: 3vw;

}