
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #000;
}

button {
	border-style: solid;
	border-color: #fff;
	border-width: 3pt;
	font-size: 14pt;
	color: #fff;
	background: none;
	padding: 20px;
}

button:hover{
	/*border-color: green;*/
	cursor: pointer;
}

#mainWrapper {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	/*display: inline-block;*/
	/*position: absolute;*/
	text-align: center;
}

#universeOne {
	width: 100vw;
	height: 50vh;
	display: inline-block;
	padding: 10vw 0 0 0;
}


#universeTwo {
	display: inline-block;
	visibility: hidden;
}


