    body{
      font-family: 'Open Sans', sans-serif;
      padding: 10px 20px 20px 20px;
      height: 140vh;
    }

    h3 {
      margin-top: 8px;
      font-size: 18pt;
    }

    fieldset{
     border: none;
     width: 500px;
     padding: 8px 0px 8px 5px;
     overflow: hidden;
   }

   label {
    font-size: 11pt;
    font-weight: 700;
   }

  form input{
     width: 400px;
     height: 25px;
     border-width: 0px 0px 2px 0px;
     border-color: #020202;
     font-size: 9pt;
   }

  select{
     width: 350px;
     height: 25px;
/*     border-width: 0px 0px 2px 0px;
     border-color: #020202;*/
     font-size: 9pt;
   }

   #error{
    color: red;
    font-size: 11pt;
    font-weight: 600;
   }

   .container {
    overflow: hidden;
   }

   #notice{
    width: 65vw;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    background: #45BF55;
    margin: 10px 0px 25px 0px;
    color: #fff;
   }

   #core-sig-container {
    visibility: hidden;
   }

    #first-sig-overall {
    overflow: hidden;
    margin-bottom: 50px;
   }

   #main-signature-container{
    float:left;
   }

   #second-sig-overall {
    overflow: hidden;
   }

   #reply-signature-container{
    float:left;
   }

   #main-sigButton-div{
    overflow: hidden;
    white-space: normal;
    width: 200px;
   }

   #reply-sigButton-div{
    overflow: hidden;
    white-space: normal;
    width: 200px;
   }

   #form-submit-button {
     float: right;
   }

   .buttonOne {
    background: #3177dd;
    border-color: white;
    font-size: 12pt;
    color: white;
    border: none;
    padding: 10px 12px 10px 12px;
    white-space: normal;
   }

   .buttonOne:hover {background-color: #265BAB}

   .buttonOne:active {background-color: #001529}

   .signature-container {
    padding: 20px 0px 20px 0px;
   }







